<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>
        {%block title%}

        {% endblock %}
    </title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'portfolio/assets/img/favicon.png'%}" rel="icon">
    <link href="{% static 'portfolio/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="{% static 'portfolio/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/assets/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/assets/vendor/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'portfolio/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="{% static 'portfolio/assets/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: DevFolio - v2.2.0
    * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body id="page-top">

{% block content %}
{% endblock %}

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="{% static 'portfolio/assets/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'portfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'portfolio/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'portfolio/assets/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'portfolio/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'portfolio/assets/vendor/counterup/jquery.counterup.min.js' %}"></script>
<script src="{% static 'portfolio/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'portfolio/assets/vendor/typed.js/typed.min.js' %}"></script>
<script src="{% static 'portfolio/assets/vendor/venobox/venobox.min.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'portfolio/assets/js/main.js' %}"></script>


</body>

</html>