<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Context</title>
</head>
<body>
<h1> Friends list </h1>
<ul>
    {% for single_friends in friends %}

        {% if single_friends == "Kate" %}
            <li>I am</li>
        {% else %}
            <li> {{single_friends}} </li>
        {% endif %}

    {% endfor %}
</ul>
</body>
</html>